@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
  }
  .dark body {
    @apply bg-background text-gray-100;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-surface;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-500;
  }
}
